/* Estilo general del Body */
body {
  font-family: 'Bangers', cursive;   /* Fuente personalizada Bangers */
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


/* Estilo de Títulos h1, h2 y 3 */
h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  color: #fff;
  background-color: #d8900a;
  padding: 50px;
}

h2 {
  font-size: 2rem;
  color: #000000;
}

h3 {
  font-size: 1.5rem;
  color: black;
}

/* Ajustes responsivos para LOS títulos "h1" y también "h2" */
/* Esto es para reducir tamaño a tablets y ajustar el padding en pantallas medianas */
@media (max-width: 768px) {
  h1,h2 {
    font-size: 3.5rem;
    padding: 40px;
  }
}

/* Esto es para reducir tamaño y volver a ajustar padding para pantallas pequeñas */
@media (max-width: 576px) {
  h1,h2 {
    font-size: 2.5rem;   /* Reducir más para pantallas pequeñas */
    padding: 30px;   /* Ajustar padding en pantallas pequeñas */
  }
}

/* Esto es para reducir tamaño y volver a ajustar padding para pantallas MUY pequeñas */
@media (max-width: 375px) {
  h1,h2 {
    font-size: 2rem;
    padding: 20px;
  }
}


/* Separador negro editable */
.separator {
  border-top: 5px solid #000;
  margin: 0px;
}

/* Caract. de la Navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;  /* para aumentar el padding vertical*/
}

.navbar .nav-link {
  color: rgb(255, 255, 255);  /* Color de texto de la navbar */
  font-size: 1.3rem;   /* Aumenta el tamaño del texto en todo lo anterior */
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ff9900 !important;   /* Color Naranjo al pasar el mouse */
}

.navbar span {
  font-size: 1.3rem;   /* Aumenta el tamaño del texto en el span del navbar */
}

/* Carrusel */
.carousel-item img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/*Boton del carrusel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Imagen Carta */
.carta-logo {
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Comportamientos y estilos de las Cards de los productos */
.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-body {
  padding: 20px;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-10px);
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  font-size: 1.1rem;
  color: #666;
}

.card-text strong {
  font-size: 1.2rem;
  color: #d8900a;
}

/* Estilo de imágenes (estilio general) */
img {
  max-width: 100%;
  height: auto;
}

/* Section de historia */
#historia .text-justify {
  text-align: justify;
  line-height: 1.6;
}

#historia .testimonial-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card .card-body {
  padding: 20px;
}

.testimonial-card .card-text {
  font-size: 1.1rem;
  color: #444;
}

/* Estilo de las sucursales */
#sucursales .card {
  border-radius: 8px;
  overflow: hidden;
}

#sucursales .card-body {
  padding: 15px;
  background-color: #fff;
}

#sucursales .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

#sucursales .card-text {
  font-size: 1.2rem;
  color: #666;
}

/* Colores del Footer */
footer {
  color: #f4f4f4;
  background-color: #000;
}

footer a:hover {
  color: #ffcc00;   /* Cambia el color cuando el usuario pase el mouse a los links */
}

/* Ajuste Global a los "Link" del Navbar para que deje sobre los títulos del menú siempre */
html {
  scroll-padding-top: 105px;
  scroll-behavior: smooth;   /* Para que el scrolling sea mas suavecito */
}